.video {
  flex: 0.7;
}

.canvas {
  margin: 32px;
  /* border: 1px solid black; */
  border-radius: 100px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1.5rem;
  backdrop-filter: blur(2rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 15px 20px;
}
